<div class="text-center">
    <h1>Welcome <%=current_user.first_name%></h1>
    <h2><i class="fa-solid fa-wine-bottle"></i> Have a drink <i class="fa-solid fa-wine-bottle fa-rotate-270"></i></h2>
    <div class="align-circles">
        <div class="circle circle-small" id="circle1">
            <h2>乾杯</h2>
        </div>
        <div class="circle circle-small" id="circle2">
            <h2>Salud</h2>
        </div>
        <div class="circle circle-small" id="circle3">
            <h2>Cheers</h2>
        </div>
        <div class="circle circle-small" id="circle2">
            <h2>L'Chaim</h2>
        </div>
        <div class="circle circle-small" id="circle1">
            <h2>干杯</h2>
        </div>
    </div>
</div>
