@import "bootstrap";

a.badge {
    text-decoration: none;
    display: inline-block;
}

a.badge::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    transition: width 0.5s;

    &.text-white {
        background: var(--bs-white);
    }

    &.text-dark {
        background: var(--bs-dark);
    }
}

a.badge:hover::after {
    width: 100%;
}

/* Class to escape stretched links */
.clickable {
    position: relative;
    z-index: 2;
}

.align-circles{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.circle{
    justify-content: center;
    align-items: center;
    height: 25vw;
    width: 25vw;
    aspect-ratio: 1;
    border-radius: 100%;
    text-align: center;
    display:flex;
    margin: 10px;
}

.circle h5 {
    font-size: 2.5vw;
}

#circle1{
    background-color: #FED766;
}

#circle2{
    background-color: #2AB7CA;
}

#circle3{
    background-color: #FE4A49;
}

label[required]::after {
    content: "*";
    color: red;
}